lockout-box {
  height: 50px;
  width: 50px;
  margin: 10px 2px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  .red {
    color: red;
  }
  .yellow {
    color: yellow;
  }
  .green {
    color: green;
  }
  .blue {
    color: blue;
  }
}
